body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;
  background: linear-gradient(to bottom, #A79E9D 0%, #C9BEBD 100%);
}

.fr {
  float: right;
}

.pointer {
  cursor: pointer;
}

.material-icons {
  margin: 3.5px;
  color: #FFF;
}

input[type=text] {
  width: 350px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #BBB;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 2px solid #555;
}

.main-section {
  position: relative;
}

.footer {
  display: block;
  text-align: center;
}

.post-in-note-list {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
}

.post-in-note {
  z-index: 1;
  cursor: move;
  width: 250px;
  height: 250px;
  color: #696969;
  position: absolute;
  transition: all 0.5s;
  transform: translateZ(50px) translateY(-12px);
  box-shadow: 0 12px 20px -12px rgba(0, 0, 0, .35);
}

.post-in-note.active {
  z-index: 99;
}

.post-in-note.edit {
  transform: scale(2);
  position: initial;
}

.post-in-note.edit .content {
  padding: 30px 15px;
}

.post-in-note.edit .DraftEditor-root {
  min-height: 166px;
}

.post-in-note .content {
  padding: 20px 15px;
}

.post-in-note .text {
  overflow: hidden;
  height: 140px;
}

.post-in-note .create-time {
  float: right;
}